@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    --main-color: #111111;
    --second-color: #141414;
}

h1{
    font-size: 120px;
    font-family: 'sans-serif';
    font-weight: bold;
    margin-bottom: 0;
    text-align: center;
}

h2{
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 0;
    text-align: center;
}

h5{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 0;
}

p{
    font-size: 15px !important;
    margin-bottom: 0;
}

a{
    font-size: 15px !important;
    font-weight: 500 !important;
    text-decoration: none;
}


.navbar{
    background: transparent;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
}

#home{
    background: url(../asset/88.jpg);
    background-position: 0 -250px;
    background-size: cover;
    height: 610px;
    position: relative;
    z-index: -1;
}

#home .row{
    vertical-align: middle;
    height: inherit;
}

.img-about{
    width: 100%;
    height: 100%;
}

#education{
    background: url(../asset/66.jpeg);
    background-position: 0 -250px;
    background-size: cover;
    height: 610px;
    position: relative;
    z-index: -1;
    background-color: var(--main-color);
}
    


.card{
    border-radius: 0px;
}

.number{
    background-color: var(--main-color);
    color: white;
    text-align: center;
    height: 50px;
    width: 50px;
}
#experience{
    background: url(../asset/66.jpeg);
    background-position: 0 -250px;
    background-size: cover;
    height: 610px;
    position: relative;
    z-index: -1;
    background-color: var(--main-color);
}


.img-organization{
    max-width: 400px;
}
#certification{
    background: url(../asset/66.jpeg);
    background-position: 0 -250px;
    background-size: cover;
    height: 610px;
    position: relative;
    z-index: -1;
    background-color: burlywood
}
.img-certification{
    width: 100%;
    background-size: cover;
}

.btn-primary{
    color: white !important;
    margin-top: 30px;
    border-radius: 0px !important;
    width: 130px;
    font-size: 13px;
    background-color: var(--main-color);
    border-color: var(--main-color);
}

.btn-primary:hover{
    background-color: white !important;
    color: var(--main-color) !important;
    border-color: var(--main-color) !important;
}

#contact{
    background-color: var(--main-color);
}


#Kontak{
    background: url(../asset/66.jpeg);
    background-position: 0 -250px;
    background-size: cover;
    height: 610px;
    position: relative;
    z-index: -1;
    background-color: var(--main-color);
}

#footer .copyrights{
    margin-top: 20px;
    color: white;
    background-color: var(--second-color);
    text-align: center;
}

#footer .copyrights p{
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 10px;
}